DATABASE_URL=postgresql://postgres:EDUJUANDA12345@localhost:5432/NANAMIKITCHEN
PORT=3000
# Role Credentials (Owner, Admin, Staff)
OWNER_EMAIL=owner@nanami.id
OWNER_PASSWORD=owner123

ADMIN_EMAIL=admin@nanami.id
ADMIN_PASSWORD=admin123